<footer>
  <div class="copyrights">
    <div class="container">
      <div class="col-lg-6 col-md-6 col-sm-12 columns footer-left">
        <p>Copyright © 2014 - All rights reserved.  Created with MaxiBiz template by <a href="https://templatemag.com/">TemplateMag.</a> Modified by Mark Krutik, Aqeel Parpia and Daniel Ameresekere</p>
        
      </div>
      <!-- end widget -->
      
      <!-- end large-6 -->
    </div>
    <!-- end container -->
  </div>
  <!-- end copyrights -->
</footer>
<!-- end footer -->
<div class="dmtop">Scroll to Top</div>