<section class="post-wrapper-top">
  <div class="container">
    <div class="col-lg-6 col-md-6 col-sm-6 col-lg-offset-4">
      <h2 class="createCenter">Welcome to ARBM</h2>
    </div>
  </div>
</section>


<!-- app-content-->
<section id="intro">
  <div class="container">
    <div class="ror">
      <div class="col-md-8 col-md-offset-2">
        <h1>Apartment Rental Services</h1>
        <p>We offer services ranging from carpenting, elevator repair and others. For more information about other services
          that are offered visit the about page.
        </p>
      </div>
    </div>
  </div>
</section>
