<section class="post-wrapper-top">
    <div class="container">
      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
        <ul class="breadcrumb">
          <li><a routerLink="/home">Home</a></li>
          <li>Forgot Password</li>
        </ul>
        <h2>FORGOT PASSWORD</h2>
      </div>
    </div>
  </section>
  <section class="section1">
    <div class="container clearfix">
      <div class="content col-lg-6 col-md-6 col-sm-6 clearfix">

        
          <h4 class="title">
                        <span>Reset Password</span>
                    </h4>
  
        
        <form>

            <div class="form-group row">
                <input class="form-control" type="email" id="example-email-input" placeholder="Your Email">
              </div>
              <div class="form-group row">
                  <input class="form-control" type="password" id="example-password-input" placeholder="Create a Password">
              </div>
              <div class="form-group row">
                  <input class="form-control" type="password" id="example-password-input" placeholder="Re-enter Password">
              </div>
            
         
            <div class="form-group">
                
                <button class="btn btn-primary center-block" type="submit">Reset Password</button>
                
              </div>
        </form>
      </div>
    </div>
    </section>
