<section class="post-wrapper-top">
        <div class="container">
          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <ul class="breadcrumb">
              <li><a routerLink="/home">Home</a></li>
              <li>Register</li>
            </ul>
            <h2>REGISTER</h2>
          </div>
        </div>
      </section>
      <section class="section1">
            <div class="container clearfix">
              <div class="content col-lg-6 col-md-6 col-sm-6 clearfix">
        
                
                  <h4 class="title">
                                <span>Register Form</span>
                            </h4>
                  <form id="registerform" method="post" name="registerform" action="">
                    <h4>Personal Information</h4>  
                    <hr />
                    <div class="form-group">
                        <div class="col-md-6">
                      <input type="text" class="form-control" placeholder="First name">
                    </div>
                    <div class="col-md-6">  
                    <input type="text" class="form-control" placeholder="Last name">
                    </div>
                    </div>
                    
                    <div class="form-group">
                            <div class="col-md-6">
                      <input type="email" class="form-control" placeholder="Email">
                    </div>
                      <div class="col-md-6">
                            <input type="number" class="form-control" placeholder="Sin Number">
                            </div>
                    </div>
                    <div class="form-group">
                            <div class="col-md-6">
                      <input type="tel" class="form-control" placeholder="Home Phone">
                    </div>
                      <div class="col-md-6">
                            <input type="tel" class="form-control" placeholder="Cell Phone">
                            </div>
                    </div>
                    
                    <div class="form-group">
                            <div class="col-md-12">
                                    <div class='input-group date' id='datetimepicker3'>
                                            <input type='text' class="form-control" placeholder="MM/DD/YYYY"/>
                                            <span class="input-group-addon">
                                                <span class="glyphicon glyphicon-time"></span>
                                            </span>
                                        </div>
                                        <br />
                   

                        

                    </div>
                      
                    </div>
                    
                     <h4>Contact Information</h4>
                     <hr />
                     <div class="form-group">
                            <div class="col-md-12">
                                    <input type="text" class="form-control" placeholder="Address">
                                  </div>
                                  
                          </div>
                          <div class="form-group">
                                <div class="col-md-4">
                                        <input type="text" class="form-control" placeholder="City">
                                      </div>
                                <div class="col-md-4">
                                        <select id="inputState" class="form-control">
                                                <option selected>Select Province</option>
                                                <option>Alberta</option>
                                                <option>Ontario</option>
                                                <option>Quebec</option>
                                                <option>British Coloumbia</option>
                                                <option>Manitoba</option>
                                                <option>Saskatchewan</option>
                                                <option>New Brunswick</option>
                                                <option>Newfoundland and Labrador</option>
                                                <option>Nova Scotia</option>
                                                <option>Prince Edward Island</option>
                                                <option>Northwest Territories</option>
                                                <option>Yukon</option>
                                                <option>Nunavut</option>
                                              </select>
                                      </div>
                                      <div class="col-md-4">
                                            <input type="text" class="form-control" placeholder="Postal Code">
                                          </div>
                              </div>
                    
                              <h4>New Account Information</h4>
                              <hr />
                     <div class="form-group">
                            <div class="col-md-6">
                                    <input type="text" class="form-control" placeholder="Username">
                                  </div>
                                  <div class="col-md-6">
                                        <select id="inputState" class="form-control">
                                                <option selected>Job Title</option>
                                                <option>Carpenter</option>
                                                <option>Electrician</option>
                                                <option>Elevator Repair Person</option>
                                                <option>Window Installer</option>
                                                <option>Garbage Collector</option>
                                                <option>Computer Technician</option>
                                                <option>Cleaner</option>
                                                <option>Painter</option>
                                                <option>Building Parts Supplier</option>
                                                <option>Fire Alarm Tester</option>
                                                <option>Plumber</option>
                                                <option>Manager</option>
                                                <option>Pest Treater</option>
                                              </select>
                                      </div>
                    </div>
                    <div class="form-group">
                            <div class="col-md-6">
                                    <input type="text" class="form-control" placeholder="Password">
                                  </div>
                                  <div class="col-md-6">
                                        <input type="text" class="form-control" placeholder="Re-enter password">
                                      </div>
                    </div>
                    <span>Question 1</span><br /><br />
                    <div class="form-group">
                            <div class="col-md-6">
                                    <select id="inputState" class="form-control">
                                            <option selected>Security Question</option>
                                            <option>In what city was your mom born?</option>
                                            <option>What is your favorite sport?</option>
                                            <option>What is your favorite movie?</option>
                                            <option>What is the name of your childhood teacher?</option>
                                            <option>What was the name of your first pet?</option>
                                            <option>What is the name of your father?</option>
                                            <option> What is your favorite book?</option>
                                            <option>What is the style of music you like?</option>
                                            <option>In what year was your grandfather born?</option>
                                            <option>Who is your favorite author?</option>
                                          </select>
                                  </div>
                                  <div class="col-md-6">
                                        <input type="text" class="form-control" placeholder="Answer">
                                      </div>
                    </div>
                    <span>Question 2</span><br /><br />
                    <div class="form-group">
                            <div class="col-md-6">
                                    <select id="inputState" class="form-control">
                                            <option selected>Security Question</option>
                                            <option>In what city was your mom born?</option>
                                            <option>What is your favorite sport?</option>
                                            <option>What is your favorite movie?</option>
                                            <option>What is the name of your childhood teacher?</option>
                                            <option>What was the name of your first pet?</option>
                                            <option>What is the name of your father?</option>
                                            <option> What is your favorite book?</option>
                                            <option>What is the style of music you like?</option>
                                            <option>In what year was your grandfather born?</option>
                                            <option>Who is your favorite author?</option>
                                          </select>
                                  </div>
                                  <div class="col-md-6">
                                        <input type="text" class="form-control" placeholder="Answer">
                                      </div>
                    </div>
                    <span>Question 3</span><br /><br />
                    <div class="form-group">
                            <div class="col-md-6">
                                    <select id="inputState" class="form-control">
                                            <option selected>Security Question</option>
                                            <option>In what city was your mom born?</option>
                                            <option>What is your favorite sport?</option>
                                            <option>What is your favorite movie?</option>
                                            <option>What is the name of your childhood teacher?</option>
                                            <option>What was the name of your first pet?</option>
                                            <option>What is the name of your father?</option>
                                            <option> What is your favorite book?</option>
                                            <option>What is the style of music you like?</option>
                                            <option>In what year was your grandfather born?</option>
                                            <option>Who is your favorite author?</option>
                                          </select>
                                  </div>
                                  <div class="col-md-6">
                                        <input type="text" class="form-control" placeholder="Answer">
                                      </div>
                    </div>
                    <h4>Experience Information</h4>
                     <hr />

                     <span>Experience 1</span><br /><br />
                     <div class="form-group">
                            <div class="col-md-6">
                                    <input type="text" class="form-control" placeholder="Experience ID">
                                  </div>
                                  <div class="col-md-6">
                                        <input type="text" class="form-control" placeholder="Type of Experience Recieved">
                                      </div>
                          </div>
                          <div class="form-group">
                                <div class="col-md-12">
                                        <input type="text" class="form-control" placeholder="Period">
                                      </div>
                                      
                          </div>

                          <div class="form-group">
                          <div class="col-md-12">
                                <textarea class="form-control" id="exampleFormControlTextarea1" rows="10" placeholder="Experience Description"></textarea>
                              </div>
                            </div>
                            <span>Experience 2</span><br /><br />
                     <div class="form-group">
                            <div class="col-md-6">
                                    <input type="text" class="form-control" placeholder="Experience ID">
                                  </div>
                                  <div class="col-md-6">
                                        <input type="text" class="form-control" placeholder="Type of Experience Recieved">
                                      </div>
                          </div>
                          <div class="form-group">
                                <div class="col-md-12">
                                        <input type="text" class="form-control" placeholder="Period">
                                      </div>
                                      
                          </div>

                          <div class="form-group">
                          <div class="col-md-12">
                                <textarea class="form-control" id="exampleFormControlTextarea1" rows="10" placeholder="Experience Description"></textarea>
                              </div>
                            </div>
                            <span>Experience 3</span><br /><br />
                     <div class="form-group">
                            <div class="col-md-6">
                                    <input type="text" class="form-control" placeholder="Experience ID">
                                  </div>
                                  <div class="col-md-6">
                                        <input type="text" class="form-control" placeholder="Type of Experience Recieved">
                                      </div>
                          </div>
                          <div class="form-group">
                                <div class="col-md-12">
                                        <input type="text" class="form-control" placeholder="Period">
                                      </div>
                                      
                          </div>

                          <div class="form-group">
                          <div class="col-md-12">
                                <textarea class="form-control" id="exampleFormControlTextarea1" rows="10" placeholder="Experience Description"></textarea>
                              </div>
                            </div>
                          <h4>Education Information</h4>
                          <hr />
                          <span>Education 1</span><br /><br />
                          <div class="form-group">
                                <div class="col-md-6">
                                        <input type="text" class="form-control" placeholder="Institution ID">
                                      </div>
                                      <div class="col-md-6">
                                            <input type="text" class="form-control" placeholder="Name of Institution">
                                          </div>
                              </div>
                              <div class="form-group">
                                    <div class="col-md-6">
                                            <input type="text" class="form-control" placeholder="Field of Study">
                                          </div>
                                          <div class="col-md-6">
                                                <input type="text" class="form-control" placeholder="Certification">
                                              </div>
                              </div>
                              <span>Education 2</span><br /><br />
                          <div class="form-group">
                                <div class="col-md-6">
                                        <input type="text" class="form-control" placeholder="Institution ID">
                                      </div>
                                      <div class="col-md-6">
                                            <input type="text" class="form-control" placeholder="Name of Institution">
                                          </div>
                              </div>
                              <div class="form-group">
                                    <div class="col-md-6">
                                            <input type="text" class="form-control" placeholder="Field of Study">
                                          </div>
                                          <div class="col-md-6">
                                                <input type="text" class="form-control" placeholder="Certification">
                                              </div>
                              </div>
                              <span>Education 3</span><br /><br />
                          <div class="form-group">
                                <div class="col-md-6">
                                        <input type="text" class="form-control" placeholder="Institution ID">
                                      </div>
                                      <div class="col-md-6">
                                            <input type="text" class="form-control" placeholder="Name of Institution">
                                          </div>
                              </div>
                              <div class="form-group">
                                    <div class="col-md-6">
                                            <input type="text" class="form-control" placeholder="Field of Study">
                                          </div>
                                          <div class="col-md-6">
                                                <input type="text" class="form-control" placeholder="Certification">
                                              </div>
                              </div>
                    <div class="form-group">
                      <input type="submit" class="button" value="Register an account">
                    </div>
                  </form>
                <!-- end register -->
              </div>
              <!-- end content -->
            </div>
            <!-- end container -->
          </section>