<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="account-box">
                <div class="logo ">
                    <h3>Registration</h3>
                </div>
                <form>
                  <h3>Personal Information</h3>
                  <hr />
                    <div class="form-row">
                        <div class="form-group col-md-6">
                        
                    <div class="form-group">
                        <label for="inputName">Name</label>
                        <input type="text" class="form-control" id="inputName" placeholder="Name">
                      </div>
                      </div>
                      <div class="form-group col-md-6">
                        
                          <div class="form-group">
                              <label for="inputSurname">Surname</label>
                              <input type="text" class="form-control" id="inputSurname" placeholder="Surname">
                            </div>
                            </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                          <label for="inputEmail4">Email</label>
                          <input type="email" class="form-control" id="inputEmail4" placeholder="Email">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="inputSin">Sin</label>
                            <input type="number" class="form-control" id="inputSin">
                          </div>
                        </div>
                        
                    <div class="form-row">
                        <div class="form-group col-md-6">
                        
                    <div class="form-group">
                        <label for="inputUser">Username</label>
                        <input type="text" class="form-control" id="inputUser" placeholder="Username">
                      </div>
                      </div>
                      <div class="form-group col-md-6">
                          <label for="inputPassword4">Password</label>
                          <input type="password" class="form-control" id="inputPassword4" placeholder="Password">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                        <label for="example-date-input">Date of Birth</label>
                          
    <input class="form-control" type="date" id="example-date-input">
  </div>
                      
                      <div class="form-group col-md-6">
                          <label for="inputRetypePassword">Re-type Password</label>
                          <input type="password" class="form-control" id="inputRetypePassword" placeholder="Password">
                        </div>
                    </div>
                    <h3>Contact Details</h3>
                    <hr />
                      <div class="form-group">
                        <label for="inputAddress">Address</label>
                        <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St">
                      </div>
                      <div class="form-row">
                        <div class="form-group col-md-6">
                          <label for="inputCity">City</label>
                          <input type="text" class="form-control" id="inputCity">
                        </div>
                        <div class="form-group col-md-4">
                          <label for="inputProvince">Province</label>
                          <select id="inputProvince" class="form-control">
                            <option selected>Choose...</option>
                            <option>Ontario</option>
                            <option>Quebec</option>
                            <option>Alberta</option>
                            <option>Saskatchewan</option>
                            <option>British Columbia</option>
                            <option>Newfoundland and Labrador</option>
                            <option>Prince Edward Island</option>
                            <option>Manitoba</option>
                            <option>Nova Scotia</option>
                            <option>Yukon</option>
                            <option>Nunavut</option>
                            <option>Northwest Territories</option>
                            <option>New Bruswick</option>

                          </select>
                        </div>
                        <div class="form-group col-md-2">
                          <label for="inputPostal">Postal Code</label>
                          <input type="text" class="form-control" id="inputPostal">
                        </div>
                      </div>
                <button class="btn btn-lg btn-block purple-bg" type="submit">
                    Create New Account</button>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="form-group col-md-6">
    <label for="inputCareer">Select Job Title</label>
      <select id="inputCareer" class="form-control">
        <option selected>Choose...</option>
        <option>@carpenter</option>
        <option>@manager</option>
        <option>@windowInstaller</option>
        <option>@pestControl</option>
        <option>@garbageCollector</option>
        <option>@electrician</option>
        <option>@plumber</option>
        <option>@elevatorService</option>
        <option>@cleaner</option>
        <option>@fireAlarmTesting</option>
      </select>
  </div>

  
  

