<h1 class="h1-edit">
  About Us
</h1>

<p class="paragraph"> This company first started in 2019 at Seneca College by 3 groups members: Mark Krutik, Aqeel Parpia 
  and Daniel Ameresekere. This website is built for the building management company and it enables building mangers
  to file work orders for services they may need.These services may include elevator repair, window cleaning, plumbing
  electrical fixes and many other services. Our group decided to create a website like this one because the current
  business for filing work orders is on paper. Our solution will reduce the killing of trees, save money on paper, and
  be able to make any changes to the work order on the spot. Our web application will have a chat application for doing just that.
  In addition, managers will be able update, delete, view and add new workers, and to view workers accounts. Workers can view
  work orders and their account details as well. Security will be a big component in this web app architecture as there is a register and login functionality.
  This functionality will allow to users to register, which will register a user, salt and hash a users password. That way
  it prevents others from hacking into your account. This entire application is writting in the MEAN stack, but instead
  of MongoDB we will be using PostgreSQL.
</p>

<div class="container">
  <div class="row">
    <div class="col-sm">
      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="../assets/img/image5.jpg" alt="Card image cap">
        <div class="card-body">
          <p class="card-text">Window cleaning services are services for window repair or cleaning.</p>
        </div>
      </div>      
    </div>
    <div class="col-sm">
      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="../assets/img/image2.jpg" alt="Card image cap">
        <div class="card-body">
          <p class="card-text">Computer Technicians provide electronic keys for improved security and easier access for residents to get into their apartment.</p>
        </div>
      </div> 
    </div>
    <div class="col-sm">
      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="../assets/img/image3.jpg" alt="Card image cap">
        <div class="card-body">
          <p class="card-text">Carpenters provide any repairs to a unit including, kitchen cabinets, walls and flooring.</p>
        </div>
      </div> 
    </div>
    <div class="col-sm">
      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="../assets/img/image4.jpg" alt="Card image cap">
        <div class="card-body">
          <p class="card-text">Our Elevator repair services are for fixing elevators or getting people out of stuck elevators.</p>
        </div>
      </div> 
    </div>
  </div>
</div>
<p class="paragraph">We also offer many more services such as; garbage collecting, fire alarm testing, building management services, cleaning services, etc. For more information on the services that we provide, please visit our Contact page.
  The Contact page will provide you with our address, phone number, a contact form and other means of reaching us.</p>


  <h1 class="h1-edit">Full Stack Technologies</h1>

          
<div class="col-sm-3">
  <div class="servicebox text-center">
    <div class="service-icon">
      <div class="dm-icon-effect-1" data-effect="slide-bottom">
        <a href="https://nodejs.org/en/" class=""> <i class="fab fa-node-js fa-10x"></i> </a>
      </div>
      

      <div class="servicetitle">
        <h4>NodeJS</h4>
        
        <hr>
      </div>
      
    </div>
    <!-- service-icon -->
  </div>
  <!-- servicebox -->
</div>
<!-- large-3 -->
<div class="col-sm-3">
  <div class="servicebox text-center">
      
      <div class="servicetitle">
        
        <a href="https://expressjs.com"><h1 class="h2-edit">Express</h1></a>
        <h4>ExpressJS</h4>
        <hr>
        
      </div>
      
    </div>
    <!-- service-icon -->
  </div>
  <!-- servicebox -->
<!-- large-3 -->
<div class="col-sm-3">
  <div class="servicebox text-center">
    <div class="service-icon">
      <div class="dm-icon-effect-1" data-effect="slide-bottom">
        <a href="https://www.postgresql.org/" class=""> <i class="fas fa-database fa-10x"></i> </a>
      </div>
      <div class="servicetitle">
        <h4>PostgreSQL</h4>
        <hr>
      </div>
    </div>
    <!-- service-icon -->
  </div>
  <!-- servicebox -->
</div>
<!-- large-3 -->
<div class="col-sm-3">
  <div class="servicebox text-center">
    <div class="service-icon">
      <div class="dm-icon-effect-1" data-effect="slide-bottom">
        <a href="https://angular.io" class=""> <i class="fab fa-angular fa-10x"></i> </a>
      </div>
      <div class="servicetitle">
        <h4>Angular</h4>
        <hr>
      </div>
    </div>
    <!-- service-icon -->
  </div>
  <!-- servicebox -->
</div>
<!-- large-3 -->
<p class="paragraph-2">"Node.js® is a JavaScript runtime built on Chrome's V8 JavaScript engine."</p>
<p class="paragraph-3">-Node.js</p>
<p class="paragraph-2">"Fast, unopinionated, minimalist web framework for Node.js."</p>
<p class="paragraph-3">-Express.js</p>
<p class="paragraph-2">"The World's Most Advanced Open Source Relational Database."</p>
<p class="paragraph-3">-PostgreSQL</p>
<p class="paragraph-2">"One framework.Mobile & desktop."</p>
<p class="paragraph-3">-Angular</p>



