
<!-- end topbar -->
<!-- header -->
<header class="header">
  <div class="container">
    <div class="site-header clearfix">
      <div class="col-lg-3 col-md-3 col-sm-12 title-area">
        <div class="site-title" id="title">
          <a href="index.html" title="">
            <h4>ARBM</h4>
          </a>
        </div>
      </div>
      <!-- title area -->
      <div class="col-lg-9 col-md-12 col-sm-12">
        <div id="nav" class="right">
          <div class="container clearfix">
            <ul id="jetmenu" class="jetmenu blue">
              <li routerLinkActive="active"><a routerLink="/home">Home</a></li>
                <li><a href="about.html">About Us</a></li>
                <li><a href="contact.html">Contact</a></li>
                <li><a href="login.html">Login</a></li>
                <li><a href="register.html">Register</a></li>
                <li><a href="faq.html">FAQ</a></li>  
             
            </ul>
          </div>
        </div>
        <!-- nav -->
      </div>
      <!-- title area -->
    </div>
    <!-- site header -->
  </div>
  <!-- end container -->
</header>
<!-- end header -->
